<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCE 2022 - Renan Lima Gomes</title>
</head>
<body>
<h1>{{title}}</h1>
<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
  <label for="dividendo">Dividendo:</label>
  <input type = "number" name = "dividendo" id="dividendo" ngModel>
  <label for="divisor">Divisor:</label>
  <input type = "number" name = "divisor" id="divisor" min="1" ngModel>
  <input type="submit" value="Calcular" class="btnCalcular">
</form>
</body>
</html>